.boton {
    background-color: #f48838;
    border-radius: 8px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    padding: 24px 32px;
    border: none;
    color: #fff;
    margin: 32px 0;
    cursor: pointer;
    margin-left: 250px;
    /* width: 30%; */
}

.boton:hover {
    color: bisque;
}